@media (max-width: 1020px) {
	.site-header__cards {
		display: flex;
		flex-direction: column;
	}
	.site-header__card {
		display: flex;
		width: 100%;
	}
	.features__list {
		flex-wrap: wrap;
		justify-content: center;
	}
	.services__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.about__video-wrapper {
		flex-direction: column;
		gap: 80px;
	}
	.about__video {
		width: 850px;
	}
	.clients__list {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
	}
}

@media (max-width: 950px) {
	.about__video {
		width: 100%;
	}
	.clients__form {
		flex-direction: column;
		gap: 100px;
	}
}

@media (max-width: 650px) {
	.site-header__menu-btn {
		display: none;
	}
	.site-header__hero {
		max-width: 400px;
	}
	.site-header__hero-title {
		font-size: 45px;
	}
	.site-header__hero-desc {
		font-size: 16px;
	}
	.features__info-title,
	.services__info-title,
	.about__info-title {
		font-size: 35px;
	}
	.services__list {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
	.about__video-info-title {
		font-size: 30px;
	}
	.clients__form {
		padding: 20px 40px;
		gap: 50px;
	}
	.clients__form-title {
		font-size: 22px;
		text-align: center;
	}
	.clients__form-input-email {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.site-header__nav-list {
		display: none;
	}
	.site-header__nav {
		gap: 30px;
	}
	.site-header__menu {
		gap: 20px;
	}
	.site-header__menu-btn {
		display: block;
	}
	.site-header__menu-search,
	.site-header__menu-cart {
		display: block;
	}
	.features__info-title {
		font-size: 30px;
	}
	.about__info-title {
		font-size: 30px;
		line-height: 40px;
	}
	.about__video-info-title {
		font-size: 25px;
	}
	.about__item {
		gap: 10px;
	}
	.clients__form {
		padding: 15px 20px;
	}
	.clients__form-input-email,
	.clients__form-input-btn {
		padding: 10px 15px;
	}
	.clients__form-title {
		font-size: 18px;
	}
	.clients__item-img {
		width: 65px;
	}
}

@media (max-width: 350px) {
	.site-header__hero-title {
		font-size: 35px;
		text-align: center;
		line-height: 45px;
	}
	.site-header__hero-desc {
		text-align: center;
	}
	.site-header__card {
		gap: 5px;
	}
	.site-header__card-title {
		font-size: 20px;
	}
	.site-header__hero-btns {
		flex-direction: column;
	}
	.features-item-img {
		width: 40px;
		height: 40px;
	}
	.features__info-title,
	.services__info-title {
		font-size: 25px;
	}
	.features-item {
		gap: 5px;
	}
	.features-item-title {
		font-size: 22px;
	}
	.clients__form-input-email, 
	.clients__form-input-btn {
		padding: 8px 10px;
	}
}
